<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Buscar Usuários</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

  <aside class="sidebar">
      
    <nav class="nav-links">
      <div class="opcoes">
        <div class="logo">📸</div>
        <a href="/home">🏠 Início</a>
        <br>
        <br>
        <br>
        <br>
        <a href="/buscar">🔍 Buscar</a>
        <br>
        <br>
        <br>
        <br>
        <a href="/mensagens">✉️ Mensagens</a>
        <br>
        <br>
        <br>
        <br>
        <a href="/notificacoes">❤️ Notificações</a>
        <br>
        <br>
        <br>
        <br>
        <a href="/criar">➕ Criar</a>
        <br>
        <a href="/perfil">👤 Perfil</a>
      </div>
      
    </nav>
  </aside>
  
  <div class="container">
    <h1>🔍 Buscar Usuários</h1>
    
    <input type="text" placeholder="Digite o nome do usuário..." class="search-input">

    
  </div>
</body>
</html>
