<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles.css">
    <h1>Dados  </h1>
</head>
<body>
    <div class="informacoes">
        <form action="/criar" method = "POST">
            <input type='radio' id='metodo' name="metodo" value="A">patrocinio</h3>
            <br>
            <input type='radio' id='metodo' name="metodo" value="B">postagem</h3>
            <br>
            <input type='imagem' id='imagem' name='imagem' placeholder="Digite a imagem">
            <br>
            <input type='descricao' id='descricao' name='descricao' placeholder="Digite a descricao">
            
            <button type="submit">enviar</button>
            
        </form>
       
        
    </div>
    
</body>
    
</html>