<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Rede social</title>
  <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>

  <div class="page">

    <!-- Sidebar Lateral -->
    <aside class="sidebar">
      
      <nav class="nav-links">
        <div class="opcoes">
          <div class="logo">📸</div>
          <a href="/home">🏠 Início</a>
          <br>
          <br>
          <br>
          <br>
          <a href="/buscar">🔍 Buscar</a>
          <br>
          <br>
          <br>
          <br>
          <a href="/mensagens">✉️ Mensagens</a>
          <br>
          <br>
          <br>
          <br>
          <a href="/notificacoes">❤️ Notificações</a>
          <br>
          <br>
          <br>
          <br>
          <a href="/criar">➕ Criar</a>
          <br>
          <a href="/perfil">👤 Perfil</a>
        </div>
        
      </nav>
    </aside>

    <!-- Conteúdo Principal -->
    <main class="main-content">
      <!-- Stories -->

      <section class="stories">
        <div class="story">Você</div>
        <div class="story">Ana</div>
        <div class="story">Lucas</div>
        <div class="story">Mari</div>
        <div class="story">Pedro</div>
      </section>
      
      <!-- Adicione mais se quiser -->


        

        <!-- Postagens -->
        <section class="posts">
          {% for post in postagem %}
          <div class="post">
              {% if post[1] %}
                  <img src="{{ post[1] }}" class="cover" alt="posts">
              {% else %}
                  <img src="https://img.freepik.com/fotos-gratis/firewall-de-dados-em-preto-branco-de-notebook_1150-1733.jpg" class="post" alt="post">
              {% endif %}
              <h3>{{ post[2] }}</h3>
              <div class="botoes">
                <label>
                  <input type="radio" name="like" value="like" checked> Like
                </label>
                <label>
                  <input type="radio" name="like" value="deslike" checked> Deslike
                </label>
              </div>
          </div>
          {% endfor %}
        </section>
          
    </main>

  </div>

</body>
</html>