<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bem-vindo à Rede Social</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

  
<body class="login">
  <form action="/login" method="POST">
      <div class="container" id="login-box">
          <h2>Entrar</h2>
          <input id="email" type="email" name="email" placeholder="E-mail">
          <input id="senha" type="password" name="senha" placeholder="Senha">
          <button type="submit">Login</button>
      <div class="toggle-link" onclick="showRegister()">Não tem conta? Cadastre-se</div>
  </div>
  </form>
</body>
  


<body class="cadastro">
    <form action="/cadastrar" method="POST">
        <div class="container" id="register-box" style="display: none;">
        <h2>Cadastrar</h2>
        <input type="nome" name="nome" placeholder="Nome completo">
        <input type="email" name="email" placeholder="E-mail">
        <input type="senha" name="senha" placeholder="Senha">
        <button>Cadastrar</button>
        <div class="toggle-link" onclick="showLogin()">Já tem conta? Faça login</div>
        </div>
    </form>
</body>
    
    

<script>
  function showRegister() {
    document.getElementById('login-box').style.display = 'none';
    document.getElementById('register-box').style.display = 'block';
  }

  function showLogin() {
    document.getElementById('register-box').style.display = 'none';
    document.getElementById('login-box').style.display = 'block';
  }
</script>

</body>
</html>
