<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Perfil do Usuário</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <aside class="sidebar">
      
    <nav class="nav-links">
      <div class="opcoes">
        <div class="logo">📸</div>
        <a href="/home">🏠 Início</a>
        <br>
        <br>
        <br>
        <br>
        <a href="/buscar">🔍 Buscar</a>
        <br>
        <br>
        <br>
        <br>
        <a href="/mensagens">✉️ Mensagens</a>
        <br>
        <br>
        <br>
        <br>
        <a href="/notificacoes">❤️ Notificações</a>
        <br>
        <a href="/criar">➕ Criar</a>
        <br>
        <a href="/logout">🚪 Sair</a>
      </div>
      
    </nav>
  </aside>

  
  <div class="perfil-container">
    <header class="perfil-topo">
      {% if perfil %}
        <img src="{{ perfil.imagem }}" alt="Foto de perfil" class="foto-perfil">
      {% else %}
        <p>Perfil não encontrado.</p>
      {% endif %}
      <div class="info-usuario">
          <h2>{{perfil.nome}}</h2>
            <p>{{perfil.descricao}}</p>
          <div class="estatisticas">
            <div><strong>{{perfil.seguidores}}</strong><span>Seguidores</span></div>
            <div><strong>{{perfil.seguindo}}</strong><span>Seguindo</span></div>
          </div>

          {% if verificacao[0] == session['email'] %}
            <a href="/editar_perfil/{{ perfil.id }}">
                <button class="btn-editar">Editar Perfil</button>
            </a>
          {% endif %}
      </div>
    </header>
    

  
  </div>
</body>
</html>