<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Perfil do Usuário</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <aside class="sidebar">
      
    <nav class="nav-links">
      <div class="opcoes">
        <div class="logo">📸</div>
        <a href="/home">🏠 Início</a>
        <br>
        <br>
        <br>
        <br>
        <a href="/buscar">🔍 Buscar</a>
        <br>
        <br>
        <br>
        <br>
        <a href="/mensagens">✉️ Mensagens</a>
        <br>
        <br>
        <br>
        <br>
        <a href="/notificacoes">❤️ Notificações</a>
        <br>
        <br>
        <br>
        <br>
        <a href="/criar">➕ Criar</a>
        <br>
        <a href="/perfil">👤 Perfil</a>
      </div>
      
    </nav>
  </aside>
  <div class="perfil-container">
    <header class="perfil-topo">
      <img src="https://via.placeholder.com/100" alt="Foto de perfil" class="foto-perfil">
      <div class="info-usuario">
        <h2>@Rodrigo_massa</h2>
        <p>CEO do PobreHUB</p>
        <div class="estatisticas">
          <div><strong>128</strong><span>Publicações</span></div>
          <div><strong>4.302</strong><span>Seguidores</span></div>
          <div><strong>321</strong><span>Seguindo</span></div>
        </div>
        <button class="btn-editar">Editar Perfil</button>
      </div>
    </header>
</body>
</html>